/** custom classes for all elements */
.title-center {
  .widget-title {
    text-align: center;
  }
}

.sidebar-visible,
.shortcode-widget-area .sidebar-visible {
  display: none;
}
aside {
  .sidebar-visible {
    display: block;
  }
}

@media(min-width: 992px) {
  .mobile-overlay.section_overlay:after {
    display: none;
  }
}

/* Services custom classes */
.negative-img-margin-60 {
  .img-wrap {
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: 400px) {
      margin-left: -35px;
      margin-right: -35px;
    }
    @media (min-width: 1200px) {
      margin-left: -60px;
      margin-right: -60px;
    }
  }
  padding: 0 20px;
  @media (min-width: 400px) {
    padding: 0 35px;
  }
  @media (min-width: 1200px) {
    padding: 0 60px;
  }
}
.right-padding-60 {
  @media (min-width: 1200px) {
    padding-right: 60px;
  }
}


@media(min-width: 992px) {
  .custom-left-part,
  .custom-right-part {
    width: 50%;
    display: block;
    float: left;
    margin-bottom: 25px;
  }
  .custom-left-part {
    padding-right: 40px;
  }
}

/* Footer widgets margin*/
@media  (min-width: 992px) {
  .widget.margin-top-md {
    .widget-title {
      margin-top: 35px;
      margin-bottom: 55px;
    }
  }
}

.margin-negative {
  margin-top: -100px !important;
}

.negative_section {
  .container,
  .container-fluid {
    z-index: 3;
    position: relative;
  }
}

.fw-column {
  &.special_button {
    z-index: 5;
    position: relative;
  }
  &.special_button_2 {
    z-index: 5;
    position: relative;
    .theme_button.color1:hover {
      background-color: $lightColor;
      color: $mainColor !important;
    }
  }
}

/* Vertical Lines */
section.top_white_line_big {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/white_line_big.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 134px;
      z-index: 4;
      top: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}
section.bottom_white_line_big {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/white_line_big.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 134px;
      z-index: 4;
      bottom: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}
section.top_pink_line_big {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/pink_line_big.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 134px;
      z-index: 4;
      top: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}
section.bottom_pink_line_big {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/pink_line_big.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 134px;
      z-index: 4;
      bottom: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}
section.bottom_pink_line_short {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/pink_line_short.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 94px;
      z-index: 4;
      bottom: 0;
      left: 50%;
      margin-left: -2px;
    }
  }
}

section.top_dark_line_short {
  position: relative;
  .container {
    &:before {
      content: '';
      background-image: url(../img/dark_line_short.png);
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 4px;
      height: 94px;
      z-index: 4;
      top: 8px;
      left: 50%;
      margin-left: -2px;
    }
  }
}
