/*
* Steps
*/
.fw-theme-steps {
  .fw-theme-step-wrap {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    > * {
      position: relative;
      display: block;
      width: auto;
      margin: 0 auto;
    }
    .fw-step-left-part {
      text-align: center;
      max-width: 400px;
      .step-title {
        width: 100%;
      }
    }
    .fw-step-right-part {
      margin-top: 20px;
      max-width: 400px;
      .ds & {
        color: rgba($lightColor, 0.7);
      }
    }
    .fw-step-center-part {
      img {
        max-width: 270px;
        border: 10px solid rgba($lightColor, 0.1);
        .ls & {
          border: 10px solid rgba($darkgreyColor, 0.1);
        }
        border-radius: 50%;
      }
    }
    &:nth-child(odd) {
      .step-title {
        text-align: right;
        &:before {
          text-align: left;
          left: 0;
        }
      }
    }
    &:nth-child(even) {
      .step-title {
        text-align: left;
        &:before {
          text-align: right;
          right:0;
        }
      }
    }
  }
}

/* Steps counter */
#box_wrapper {
   counter-reset: number;
  .step-title {
    position: relative;
    z-index: 1;
    &:before {
      content: counter(number, decimal-leading-zero);
      counter-increment: number;
      position: absolute;
      top: -25px;
      width: 100%;
      font-size: 90px;
      font-weight: 600;
      z-index: -1;
    }
    &.color1 {
      &:before {
        color: $mainColor;
      }
    }
    &.color2 {
      &:before {
        color: $mainColor2;
      }
    }
    &.color3 {
      &:before {
        color: $mainColor3;
      }
    }
    &.color4 {
      &:before {
        color: $mainColor4;
      }
    }
  }
}

.fw-theme-step-wrap + .fw-theme-step-wrap {
  margin-top: 60px;
}

/* Responsive */
@media (min-width: 992px) {
  #box_wrapper {
    .step-title {
      margin-bottom: 0;
      &:before {
        top: -73px;
        width: 100%;
        font-size: 200px;
      }
    }
  }
  .fw-theme-steps {
    .fw-theme-step-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      .fw-step-right-part {
        margin-top: 0;
        text-align: left;
        max-width: 100%;
      }
      .fw-step-center-part {
        position: relative;
        &:after {
          content: '';
          background-image: url(../img/right_arrow.png);
          background-repeat: no-repeat;
          position: absolute;
          display: block;
          width: 34px;
          height: 136px;
          z-index: 4;
          bottom: -100px;
          right:20px;
          .ls & {
            background-image: url(../img/right_arrow_dark.png);
          }
        }
      }
      &:nth-child(odd) {
        flex-direction: row;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .fw-step-center-part {
          &:after {
            background-image: url(../img/left_arrow.png);
            right:auto;
            left: 20px;
            .ls & {
              background-image: url(../img/left_arrow_dark.png);
            }
          }
        }
        .fw-step-right-part {
          text-align: right;
        }
      }
      &:last-child {
        .fw-step-center-part {
          &:after {
            display: none;
          }
        }
      }
      > * {
        flex-basis: 33.3%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .fw-theme-steps {
    .fw-theme-step-wrap {
      .fw-step-center-part {
        &:after {
          right:40px;
        }
      }
      &:nth-child(even) {
        .fw-step-center-part {
          &:after {
            left: 40px;
          }
        }
      }
    }
  }
}


/*
* Steps 2
*/
.fw-theme-steps.steps-2 {
  .fw-theme-step-wrap {
    justify-content: center;
    .step-title {
      margin-top: 0;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      &:before,
      &:after {
        display: none;
      }
    }
    .fw-step-center-part {
      &:before,
      &:after {
        display: none;
      }
      img {
        max-width: 190px;
        border-radius: 50%;
        border: 10px solid rgba($lightColor, 0.05);
        .ls & {
          border: 10px solid rgba($darkgreyColor, 0.05);
        }
      }
    }
    .year {
      display: inline-block;
      font-size: 90px;
      line-height: 0.8;
      font-weight: 600;
      letter-spacing: -6px;
      @media (min-width: 992px) {
        font-size: 120px;
      }
      &.color1 {
        color: $mainColor;
      }
      &.color2 {
        color: $mainColor2;
      }
      &.color3 {
        color: $mainColor3;
      }
      &.color4 {
        color: $mainColor4;
      }
    }
  }
  .fw-theme-step-wrap + .fw-theme-step-wrap {
    margin-top: 60px;
  }
}

/* Responsive */
@media (min-width: 992px) {
  .fw-theme-steps.steps-2 {
    .fw-theme-step-wrap + .fw-theme-step-wrap {
      margin-top: 40px;
    }
    .fw-theme-step-wrap {
      .fw-step-left-part {
        margin-top: 0;
        max-width: none;
        flex-basis: 40%;
      }
      .fw-step-right-part {
        margin-top: 0;
        flex-basis: 40%;
        max-width: none;
        .step-text {
          max-width: 370px;
        }
      }
      &:nth-child(odd) {
        .fw-step-left-part {
          text-align: right;
          .step-title {
            text-align: right;
          }
        }
        .fw-step-right-part {
          text-align: left;
          .step-text {
            float: left;
          }
        }
      }
      &:nth-child(even) {
        .fw-step-left-part {
          text-align: left;
          .step-title {
            text-align: left;
          }
        }
        .fw-step-right-part {
          text-align: right;
          .step-text {
            float: right;
          }
        }
      }
      .fw-step-center-part {
        max-width: 190px;
        margin: 0 55px;
        flex-basis: 20%;
      }
    }
  }
}